{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!--Carousel with three images-->
<div id="home-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home-carousel" data-slide-to="1"></li>
        <li data-target="#home-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ MEDIA_URL }}hero_image1.png" class="d-block w-100" alt="Office supplies" />
            <div class="carousel-caption d-none d-md-block">
                <h4 class="font-weight-bold">John Smith</h4>
                <em>"Quick delivery, especially when you realise youre on the last batch of ink!"</em>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ MEDIA_URL }}hero_image2.png" class="d-block w-100" alt="delivery van" />
            <div class="carousel-caption d-none d-md-block">
                <h4 class="font-weight-bold">Joanne Bloggs</h4>
                <em>"Always so friendly, and efficient. Great value products even more so for home schooling."</em>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ MEDIA_URL }}hero_image6.jpg" class="w-100" alt="paper" />
            <div class="carousel-caption d-none d-md-block">
                <h4 class="font-weight-bold">Mr B Oss</h4>
                <em>"Relaible company who deliver all the products every office will need."</em>
            </div>
        </div>
    </div>
</div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-md-6 my-6 mx-auto">
                <h1 class="display-4 logo-font text-black">
                    The new products just in!
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}