<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="font-weight-bold nav-link mr-5 text-dark" href="{% url 'home' %}" id="home-link">
                HOME
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5 text-dark" href="" id="all-products-link">
                All Products
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-dark" href="#" id="supplies-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Supplies <i class="fas fa-sort-down"></i> </a>
            <div class="dropdown-menu border-0 bg-info" aria-labelledby="bikes-link">
                <a href="" class="dropdown-item">Pens</a>
                <a href="" class="dropdown-item">Pads/Paper</a>
                <a href="" class="dropdown-item">Inks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-dark" href="#" id="furniture-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Furniture <i class="fas fa-sort-down"></i> </a>
            <div class="dropdown-menu border-0 bg-info" aria-labelledby="furniture-link">
                <a href="" class="dropdown-item">Printers</a>
                <a href="" class="dropdown-item">Chairs</a>
                <a href="" class="dropdown-item">Desks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-dark" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Special Offers <i class="fas fa-sort-down"></i> </a>
            <div class="dropdown-menu border-0 bg-info" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
            </div>
        </li>
    </ul>
</div>