{% extends "base.html" %} 
{% load static %} 
{% block page_header %}
<!--Push content down-->
<div class="container header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %} 
{% block content %}
<div class="container footer-down">
   <div class="row">
      <div class="col-sm-12 col-md-6">
         {% if product.image %}
         <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}" />
         {% else %}
         <img src="{{ MEDIA_URL }}no-image-available.png" class="card-img-top img-fluid" alt="{{ product.name }}" />
         {% endif %}
      </div>
      <div class="col-sm-12 col-md-6">
         <h5 class="card-title mt-5">{{ product.name }}</h5>
         {% if product.price %}
         <div class="mt-3">
            <p class="lead mb-0 font-weight-bold">£{{ product.price }}</p>
         </div>
         {% endif %} 
         {% if product.category %}
         <div class="mt-1">
            <i class="fas fa-tags"> {{ product.category.friendly_name }}</i>
         </div>
         {% endif %} 
         {% if product.rating %}
         <div class="mt-1">
            <i class="fas fa-star"> {{ product.rating }}/5</i>
         </div>
         {% else %}
         <small>No Rating</small>
         {% endif %} 
         {% if request.user.is_superuser %}
         <small>
         <a href="{% url 'edit_product' product.id %}"><i class="fas fa-edit"></i> Edit</a> |
         <a class="text-danger" href="{% url 'delete_product' product.id %}"><i class="fas fa-times-circle"></i> Delete</a>
         </small>
         {% endif %}
         <div class="product-description mt-3">
            <span>{{ product.description }}</span>
         </div>
         <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
            {% csrf_token %}
            <div class="form-row">
               <div class="col-12">
                  <p class="mt-3"><strong>Quantity:</strong></p>
                  <div class="form-group w-50">
                     <div class="input-group">
                        <div class="input-group-prepend">
                           <button class="decrement-qty btn btn-black rounded-0" 
                              data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                           <span class="icon">
                           <i class="fas fa-minus"></i>
                           </span>
                           </button>
                        </div>
                        <input class="form-control qty_input" type="number"
                           name="quantity" value="1" min="1" max="99"
                           data-item_id="{{ product.id }}"
                           id="id_qty_{{ product.id }}">
                        <div class="input-group-append">
                           <button class="increment-qty btn btn-black rounded-0"
                              data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                           <span class="icon">
                           <i class="fas fa-plus"></i>
                           </span>
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-12">
                  <a href="{% url 'products' %}" class="btn text-uppercase border border-dark bg-info mt-0 mt-md-5 mb-3 mr-2 font-weight-bold keep-shopping-btn">
                  <span class="icon">
                  <i class="fas fa-chevron-left"></i>
                  </span>
                  Keep Shopping
                  </a>
                  <input type="submit" class="btn text-uppercase mt-0 mt-md-5 mb-3 border border-dark bg-info font-weight-bold add-to-basket-btn" value="Add to Basket" />
               </div>
               <input type="hidden" name="redirect_url" value="{{ request.path }}" />
            </div>
         </form>
      </div>
   </div>
</div>
{% endblock %} 
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}
COPY TO CLIPBOARD SELECT ALL